.CodeMirror {
  height: 340px !important;
  background: #212529 !important;
  color: white;
}

.CodeMirror-gutter-filler {
  background: #212529 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
